* {
  // margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
// @import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
body {
  font-size: 14px !important;
  font-family: "Exo 2", sans-serif;
  color: #333;
}
