* {
  // margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
// @import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
body {
  font-size: 14px !important;
  font-family: "Exo 2", sans-serif;
  color: #333;
}
.bg-body-theme{
  background-color: $bgBody !important;
}
.cursor-pointer{
  cursor: pointer;
}
.fs-14{
  font-size: 14px !important;
}
.fs-18{
  font-size: 18px !important;
}
.w-select{
  width: 97% !important;
}
.white-space-nowrap {
  white-space: nowrap;
}
.display-none{
  display: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-weight: 300;
}